<div class="modal-header border-0">
  <h5 class="modal-title text-white text-center w-100" id="savePlayerNameModalLabel">
    Felicidades
    <span class="text-capitalize">{{actualPlayerName}}, </span>
    <span class="fw-bolder text-uppercase">¡GANASTE!</span>
  </h5>
  <button type="button" class="btn btn-modyo" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <i class="fas fa-times fa-fw"></i>
  </button>
</div>
<div class="modal-body pb-0">
  <div class="end-game-gif animate__animated animate__fadeIn rounded-3 overflow-hidden">
    <img class="w-100" src="assets/celebrate.webp"/>
  </div>
</div>
<div class="modal-footer border-0 justify-content-center pt-0 pb-3">
  <button type="button" class="btn btn-modyo mt-3 text-uppercase fw-bolder" (click)="startNewGame()">
    <i class="fas fa-rotate fa-fw fa-fade"></i>
    ¿Quieres volver a jugar?
  </button>
</div>
